<!DOCTYPE html>
<html>
    <head>
        <title>Cryptures</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../reset.css">
        <link rel="stylesheet" href="../style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
        <header class="header">
            <div class="header__logo" onclick="location.href = '/';">Cryptures</div>
            <nav class="header__nav">
                <a href="/marketplace/" class="header__nav__link">Market</a>
                <a href="/profile/" class="header__nav__link">Profile</a>
                <a href="/about/" class="header__nav__link">About</a>
            </nav>
        </header>
        <main>
            <section class="nfts">
                <div class="nfts__caption">Marketplace</div>
                <div class="nfts__container">
                    
                    <div class="collection">
                        <div class="collection__name">Buy From Users</div>
                        <div class="collection__container" id="container2">
                            {{ if sellNfts.size == 0 }}
                                <div>Empty!</div>
                            {{ end }}
                            {{- for nft in sellNfts}}
                            <div class="collection__nft">
                                <div class="collection__nft__name">{{nft.Name}}</div>
                                <div class="collection__nft__photo">
                                    <img src="/{{nft.ImagePath}}" class="collection__nft__image" alt="nft">
                                </div>
                                <div class="collection__nft__price">{{nft.Price}} $</div>
                                <button class="collection__nft__buy" onclick="location.href = '/deals/buy/{{nft.DealId}}'">BUY</button>
                            </div>
                            {{- end}}
                        </div>
                        <input type="hidden" id="collection2" value="5">
                        {{ if sellNfts.size != 0 }}
                        <button class="collection__load" onclick="loadObjects(2,5)">Load More</button>
                        {{ end }}       
                    </div>

                    {{- for collection in Collections}}
                    <div class="collection">
                        <div class="collection__name">{{collection.Name}}</div> 
                        <div class="collection__container" id="container{{collection.Id}}">
                            {{ if collection.Nfts.size == 0 }}
                                <div>Empty!</div>
                            {{ end }}
                            {{- for nft in collection.Nfts}}
                            <div class="collection__nft">
                                <div class="collection__nft__name">{{nft.Name}}</div>
                                <div class="collection__nft__photo">
                                    <img src="/{{nft.ImagePath}}" class="collection__nft__image" alt="nft">
                                </div>
                                <div class="collection__nft__price">{{nft.Price}} $</div>
                                <button class="collection__nft__buy" onclick="location.href = '/deals/buy/{{nft.DealId}}'">BUY</button>
                            </div>
                            {{- end}}
                        </div>
                        <input type="hidden" id="collection{{collection.Id}}" value="5">
                        {{ if collection.Nfts.size != 0 }}
                        <button class="collection__load" onclick="loadObjects({{collection.Id}},5)">Load More</button>
                        {{ end }}
                    </div>
                    {{- end}}

                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__col">
                <div class="footer__col__headline header__logo" onclick="location.href = '/';">Cryptures</div>
                <div class="copyright">© 2022 h1rrka</div>
            </div>
            <div class="footer__col">
                <div class="footer__col__headline">Site</div>
                <div class="footer__col__tab" onclick="location.href = '/';">Home</div>
                <div class="footer__col__tab" onclick="location.href = '/about/';">About</div>
                <div class="footer__col__tab" onclick="location.href = '/profile/';">Profile</div>
            </div>
            <div class="footer__col">
                <div class="footer__col__headline">Market</div>
                <div class="footer__col__tab" onclick="location.href = '/marketplace/';">Browse NFTs</div>
                <div class="footer__col__tab">Sell an NFT</div>
            </div>
        </footer>
        <script>
            function loadObjects(col, amount){
                let current = document.getElementById('collection' + col);
                let currentUrl = '/marketplace/getitems/' + col + '/' + current.value + '/' + amount;
                let parent = document.getElementById('container' + col);
                
                $.ajax({
                    url: currentUrl,
                    method: 'get',                      
                    success: function(data){ 
                        const parser = new DOMParser();
                        const document = parser.parseFromString(data, "text/html");
                        let items = document.body.children;
                        
                        if(data != '') {
                            for (let t=0; t < items.length; t++ ) {
                                let u = t;
                                console.log(items[u]);
                                parent.appendChild(items[u].cloneNode(true));
                            }
                            current.value = Number(current.value) + amount;
                            console.log(current.value);
                        }  
                    }      
                });
            }
        </script>
    </body>
</html>