#footer_spacer {
    height: 90px;
    background-color: #181A21;
    width: 100%;
}

footer {
    background-color: #181A21;
    width: 100%;
}

.footer-content {
    width: 940px;
    margin: 0px auto;
    padding: 16px 0 60px 0;
}

.line {
    height: 8px;
    border-top: 1px solid #363c44;
}

.steam-logo-footer {
    float: right;
    padding-top: 2px;
}

.valve-logo {
    float: left;
    padding-top: 2px;
    height: 25px;
    width: auto;
}

.copyright-text {
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px;
}

.copyright-text a {
    color: #C6D4DF;
    text-decoration: none;
}

.footer-links {
    margin-top: 8px;
    float: left;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #61686D;
}

.footer-links a {
    color: #C6D4DF;
    text-decoration: none;
}

.footer-links a img {
    vertical-align: bottom;
}

@media only screen and (max-width: 1000px) {
    
    footer {
        display: none;
    }

}